a {
  color: #393;
  text-decoration: none;
}
button,
.btn {
  background-color: transparent;
  border: 0;
  color: #393;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 5px;
  padding: 10px 30px;
}

.icon-btn {
  padding: 5px 0;
  height: 0.5rem;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

select {
  background-color: #fff;
  border: 1px solid #696;
  border-radius: 3px;
  color: #393;
  font-size: 1rem;
  padding: 7px 10px;
}

.btn-submit {
  background-color: #393;
  border: 1px solid #393;
  border-radius: 3px;
  color: #eee;
}

.btn-cancel {
  border: 1px solid #393;
  border-radius: 3px;
}

.App {
  background-color: #eee;
  color: #333;
  min-height: 100vh;
  padding: 20px;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  width: fit-content;
}

.category-link {
  margin: 0 5px;
}
.center {
  text-align: center;
}

.dashboard {
}

.main-section {
  margin-right: 30px;
}

.nav {
  margin-lieft: 20px;
}
.comment {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
}

.comment:not(:last-child) {
  margin-bottom: 5px;
}

.comment .details {
  color: #555;
  font-size: 13.3333px;
}

.comment-content p {
  margin-top: 5px;
}

.comment .votes {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
  text-align: center;
}

.comment .votes button span {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  display: block;
  height: 0;
  width: 0;
}

.comment .votes button .up {
  border-bottom: 7px solid #393;
}

.comment .votes button .down {
  border-top: 7px solid #393;
}

.comment .votes .score {
  margin: 5px;
}

.new-post {
  padding: 10px;
  max-width: 600px;
}
.new-comment {
  margin: 10px 0;
}

.title-input,
.body-input {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 10px 0;
  padding: 7px 10px;
  width: 100%;
}
.title-input {
  font-size: 1.5rem;
  font-weight: 500;
}

.body-input {
  font-size: 1rem;
  height: 100px;
}

.buttons {
  float: right;
}

.rem-ed-buttons {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.post:hover .rem-ed-buttons,
.comment:hover .rem-ed-buttons {
  display: block;
}

.post {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
	position: relative;
  transition: box-shadow 0.3s ease-out;
  width: 600px;
}

.post:hover {
  box-shadow: 0 1px 4px 2px rgba(200, 200, 200, 0.4);
}

.post:hover .title {
  color: #393;
}

.post .details {
  color: #555;
  font-size: 13.3333px;
}

.post .title {
  margin-bottom: 5px;
}

.post .votes {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
  text-align: center;
}

.post > *:not(.link) {
  color: #333;
}

.post .votes button span {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: block;
  height: 0;
  width: 0;
}

.post .votes button .up {
  border-bottom: 10px solid #393;
}

.post .votes button .down {
  border-top: 10px solid #393;
}

.post .votes .score {
  margin: 5px;
}
