a {
	color: #393;
	text-decoration: none;
}
button {
	background-color: transparent;
	border: 0;
	color: #393;
	cursor: pointer;
}
li {
	list-style: none;
}
ul {
	margin: 0;
	padding: 0;
}

.App {
	background-color: #eee;
	color: #333;
	min-height: 100vh;
	padding: 20px;
}

.category-link {
	margin: 0 5px;
}
.center {
	text-align: center;
}

.dashboard {
	display: flex;
	margin: 0 auto;
	max-width: 960px;
}

.nav {
	margin-lieft: 20px;
}
